<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <title>Tango Lessons Web Application</title>

    <style>
        body {
            padding-top: 50px;
        }
        .special {
            padding-top:50px;
        }
        .lien{
            display: flex;
            justify-content: end;
        }
        .unsubscribe_link{
            color: darkred;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:9001">Système de gestion des cours de tango</a>
        </div>
    </div>
</nav>


<div class="container special">
    <h2 class="h2"><span th:text="${lesson.lessonName}"> Nom </span></h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Niveau</th>
                <th>Prix</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${lesson.lessonDate}"> Date </span></td>
                <td><span th:text="${lesson.lessonTime}"> Heure </span></td>
                <td><span th:text="${lesson.danceLevel}"> Niveau </span></td>
                <td><span th:text="${lesson.price}"> Prix </span></td>
                <td><span th:text="${lesson.description}"> Détails </span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4>Participants :</h4>

    <div class="table table-striped table-sm">
        <tr th:if="${lesson.attendees.empty}">
            <td colspan="3">Aucun danseur inscris à ce cours</td>
        </tr>
        <tr th:each="attendee: ${lesson.attendees}">
            <td><span th:text="${attendee.firstname}"></span></td>
            <td><span th:text="${attendee.lastname}"></span></td>
            <td><a class="unsubscribe_link" th:href="@{/unsubscribeDancer/{attendee_id}/{lesson_id}(attendee_id=${attendee.id}, lesson_id=${lesson.id})}">Désinscrire</a><br></td>
        </tr>
    </div>

    <div>
        <h4><a class="lien" href="http://localhost:9001/lessonsSection">Retour</a></h4>
    </div>


</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>