<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Tango Lesson Web Application</title>

<style>
body {
	padding-top: 50px;
}

.special {
	padding-top: 50px;
}
.form_title{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://localhost:9001">Système de gestion des
					cours de tango</a>
			</div>
		</div>
	</nav>


	<div class="container special">

		<div class="form_title">
			<h2 class="h2">Modification d'un danseur</h2>
			<a href="http://localhost:9001/dancersSection" class="btn btn-info">Annuler</a>
		</div>


		<div>
			<form method="post"
				th:action="@{/saveDancer}" th:object="${dancer}">
				<div class="form-group">
					<input
						type="hidden" th:field="*{id}" class="form-control">
				</div>
				<div class="form-group">
					<label for="lastnameInput">Nom</label>
					<input
						type="text" th:field="*{lastname}" class="form-control" id="lastnameInput"
						aria-describedby="lastnameHelp" placeholder="Saisir le nom"> <small
						id="lastnameHelp" class="form-text text-muted">Merci d'écrire le nom du danseur.</small>
				</div>
				<div class="form-group">
					<label for="firstnameInput">Prénom</label>
					<input
						type="text" th:field="*{firstname}" class="form-control" id="firstnameInput"
						aria-describedby="firstnameHelp" placeholder="Saisir le prénom"> <small
						id="firstnameHelp" class="form-text text-muted">Merci d'écrire le prénom du danseur.</small>
				</div>
				<div class="form-group">
					<label for="danceLevelInput">Date</label>
					<input
						type="text" th:field="*{danceLevel}" class="form-control" id="danceLevelInput"
						aria-describedby="danceLevelHelp" placeholder="Saisir le niveau"> <small
						id="danceLevelHelp" class="form-text text-muted">Merci de saisir le niveau du danseur</small>
				</div>
				<div class="form-group">
					<label for="telephoneInput">Heure</label>
					<input
						type="text" th:field="*{telephone}" class="form-control" id="telephoneInput"
						aria-describedby="telephoneHelp" placeholder="Saisir le téléphone"> <small
						id="telephoneHelp" class="form-text text-muted">Merci de saisir le téléphone du danseur</small>
				</div>	
				<div class="form-group">
					<label for="emailInput">Niveau</label>
					<input
						type="text" th:field="*{email}" class="form-control" id="emailInput"
						aria-describedby="emailHelp" placeholder="Saisir le mail du danseur"> <small
						id="emailHelp" class="form-text text-muted">Merci de saisir l'adresse email du danseur.</small>
				</div>

				<div>
					<button type="submit" class="btn btn-primary">Modifier</button>
				</div>

			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>